In [2]:
#indexing (set a column as index )
import pandas as pd
df = pd.DataFrame({
    'school_code':['s001','s002','s003','s004','s005'],
    'class':['v','V','VI','VI','VII'],
    'name':['Gino','filis','alberto','remon','reyan'],
    'DOB':['12/02/1994','05/05/1996','14/06/1990','14/07/1998','14/04/1991'],
    'weight':[35,45,36,34,29],
    'address':['st1','st2','st3','st4','st5'],
    't_id':['t1','t2','t3','t4','t5']})
print("Default Index:")
print(df.head(10))
print("\nscholl_code as new Index:")
df1 = df.set_index('school_code')
print(df1)
print("\nt_id as new Index:")
df2 = df.set_index('t_id')
print(df2)

Default Index:
  school_code class     name         DOB  weight address t_id
0        s001     v     Gino  12/02/1994      35     st1   t1
1        s002     V    filis  05/05/1996      45     st2   t2
2        s003    VI  alberto  14/06/1990      36     st3   t3
3        s004    VI    remon  14/07/1998      34     st4   t4
4        s005   VII    reyan  14/04/1991      29     st5   t5

scholl_code as new Index:
            class     name         DOB  weight address t_id
school_code
s001            v     Gino  12/02/1994      35     st1   t1
s002            V    filis  05/05/1996      45     st2   t2
s003           VI  alberto  14/06/1990      36     st3   t3
s004           VI    remon  14/07/1998      34     st4   t4
s005          VII    reyan  14/04/1991      29     st5   t5

t_id as new Index:
     school_code class     name         DOB  weight address
t_id
t1          s001     v     Gino  12/02/1994      35     st1
t2          s002     V    filis  05/05/1996      45     st2
t3          s003    VI  alberto  14/06/1990      36     st3
t4          s004    VI    remon  14/07/1998      34     st4
t5          s005   VII    reyan  14/04/1991      29     st5

In [11]:
df = pd.DataFrame({
    'code':['r001','r002','r003','r004','r005'],
    'class':['V','V','V','V','V'],
    'name':['ritika','soni','nishita','punita','pulki'],
    'DOB':['03/04/1998','05/03/2002','04/03/2002','02/01/2001','06/07/2002'],
    'weight':[34,36,37,40,39],
    'add':['st2','st3','st4','st5','st6'],
    't_id':['t1','t2','t3','t4','t5']})

print("Original DataFrame:")
print(df)
print("\nMultiIndex using columns 't_id' and 'code':")
df = df.set_index(['t_id','code'])
print(df1)
print("\nMultiIndex using an Index and a column:")
df2 = df.set_index([pd.Index([0,1,2,3,4,]),'t_id'])
print(df2)

Original DataFrame:
   code class     name         DOB  weight  add t_id
0  r001     V   ritika  03/04/1998      34  st2   t1
1  r002     V     soni  05/03/2002      36  st3   t2
2  r003     V  nishita  04/03/2002      37  st4   t3
3  r004     V   punita  02/01/2001      40  st5   t4
4  r005     V    pulki  06/07/2002      39  st6   t5

MultiIndex using columns 't_id' and 'code':
            class     name         DOB  weight address t_id
school_code
s001            v     Gino  12/02/1994      35     st1   t1
s002            V    filis  05/05/1996      45     st2   t2
s003           VI  alberto  14/06/1990      36     st3   t3
s004           VI    remon  14/07/1998      34     st4   t4
s005          VII    reyan  14/04/1991      29     st5   t5

MultiIndex using an Index and a column:

KeyError: "None of ['t_id'] are in the columns"

In [18]:
#create an 64-bit integers

print("Create an Inti64Index:")
df_i64 = pd.DataFrame({
    'school_code':['s001','s002','s003','s004','s005','s006'],
    'class':['V','V','V','V','V','V'],
    'name':['albrto','franco','gini','ryano','david','siya'],
    'DOB':['12/03/2001','13/04/2002','14/05/2003','12/05/2004','13/02/2001','12/03/2003'],
    'weight':[35,40,39,38,39,34],
    'address':['st1','st2','st3','st4','st5','st6']},
    index=[1,2,3,4,5,6])
print(df_i64)
print("\nView the Index:")
print(df_i64.index)

print('\nFloating-pont labels using FloatingIndex:')
df_f64 = pd.DataFrame({
    'school_code':['s001','s002','s003','s001','s002','s004'],
    'class':['V','V','V','V','V','V'],
    'name':['alberto','franco','gini','ryano','david','siya'],
    'DOB':['12/03/2001','13/04/2002','14/05/2003','12/05/2004','13/02/2001','12/03/2003'],
    'weight':[35,40,39,38,39,34],
    'address':['st1','st2','st3','st4','st5','st6']},
    index = [.1,.2,.3,.4,.5,.6])
print(df_f64)
print("\nView the Index:")
print(df_f64.index)

Create an Inti64Index:
  school_code class    name         DOB  weight address
1        s001     V  albrto  12/03/2001      35     st1
2        s002     V  franco  13/04/2002      40     st2
3        s003     V    gini  14/05/2003      39     st3
4        s004     V   ryano  12/05/2004      38     st4
5        s005     V   david  13/02/2001      39     st5
6        s006     V    siya  12/03/2003      34     st6

View the Index:
Int64Index([1, 2, 3, 4, 5, 6], dtype='int64')

Floating-pont labels using FloatingIndex:
    school_code class     name         DOB  weight address
0.1        s001     V  alberto  12/03/2001      35     st1
0.2        s002     V   franco  13/04/2002      40     st2
0.3        s003     V     gini  14/05/2003      39     st3
0.4        s001     V    ryano  12/05/2004      38     st4
0.5        s002     V    david  13/02/2001      39     st5
0.6        s004     V     siya  12/03/2003      34     st6

View the Index:
Float64Index([0.1, 0.2, 0.3, 0.4, 0.5, 0.6], dtype='float64')

In [20]:
#create a DataFrame using interval as an index.
print("create an Interval Index using IntervalIndex.from_breaks:")
df_interval = pd.DataFrame({"X":[1,2,3,4,5,6,7]},
                          index = pd.IntervalIndex.from_breaks(
                          [0,0.5,1.0,1.5,2.0,2.5,3,3.5]))

print(df_interval)
print(df_interval.index)

print("\nCreate an Interval Index using IntervalIndex.from_tuples:")
df_interval = pd.DataFrame({"X":[1,2,3,4,5,6,7]},
                          index = pd.IntervalIndex.from_tuples(
                          [(0,.5),(.5,1),(1,1.5),(1.5,2),(2,2.5),(2.5,3),(3,3.5)]))

print(df_interval)
print(df_interval.index)

print("\nCreate an Interval Index using IntervalIndex.form_arrays:")
df_interval = pd.DataFrame({"X":[1,2,3,4,5,6,7]},
                          index = pd.IntervalIndex.from_arrays(
                          [0,.5,1,1.5,2,2.5,3],[.5,1,1.5,2,2.5,3,3.5]))
print(df_interval)
print(df_interval.index)

create an Interval Index using IntervalIndex.from_breaks:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]],
              closed='right',
              dtype='interval[float64]')

Create an Interval Index using IntervalIndex.from_tuples:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]],
              closed='right',
              dtype='interval[float64]')

Create an Interval Index using IntervalIndex.form_arrays:
            X
(0.0, 0.5]  1
(0.5, 1.0]  2
(1.0, 1.5]  3
(1.5, 2.0]  4
(2.0, 2.5]  5
(2.5, 3.0]  6
(3.0, 3.5]  7
IntervalIndex([(0.0, 0.5], (0.5, 1.0], (1.0, 1.5], (1.5, 2.0], (2.0, 2.5], (2.5, 3.0], (3.0, 3.5]],
              closed='right',
              dtype='interval[float64]')

In [21]:
#indexing by date and time
print("Create a dataframe,indexing by date and time:")
dt_range = pd.date_range(start = '2020-05-12  07:10:10',freq = 's',periods =10)
df_dt = pd.DataFrame({"Sale_amt":[100,110,117,150,112,99,129,135,140,150]},
                    index = dt_range)
print(df_dt)

Create a dataframe,indexing by date and time:
                     Sale_amt
2020-05-12 07:10:10       100
2020-05-12 07:10:11       110
2020-05-12 07:10:12       117
2020-05-12 07:10:13       150
2020-05-12 07:10:14       112
2020-05-12 07:10:15        99
2020-05-12 07:10:16       129
2020-05-12 07:10:17       135
2020-05-12 07:10:18       140
2020-05-12 07:10:19       150

In [22]:
#set a title or name of the index
df = pd.DataFrame({
    'school_code':['s001','s002','s003','s004','s005'],
    'class':['V','V','VI','V','V'],
    'name':['alberto','reyano','david','ginima','sitima'],
    'weight':['34,56,45,34,23'],
    'address':['st1','st2','st3','st4','st5']},
    index = ['t1','t2','t3','t4','t5'])

print("Original DataFrame:")
print(df)
df.index.name = 'Index_name'
print("\nsaid DataFrame with a title or name of the index column:")
print(df)

Original DataFrame:
   school_code class     name          weight address
t1        s001     V  alberto  34,56,45,34,23     st1
t2        s002     V   reyano  34,56,45,34,23     st2
t3        s003    VI    david  34,56,45,34,23     st3
t4        s004     V   ginima  34,56,45,34,23     st4
t5        s005     V   sitima  34,56,45,34,23     st5

said DataFrame with a title or name of the index column:
           school_code class     name          weight address
Index_name
t1                s001     V  alberto  34,56,45,34,23     st1
t2                s002     V   reyano  34,56,45,34,23     st2
t3                s003    VI    david  34,56,45,34,23     st3
t4                s004     V   ginima  34,56,45,34,23     st4
t5                s005     V   sitima  34,56,45,34,23     st5

In [26]:
#set calue in a specific cell in a given dataframe
df = pd.DataFrame({
    'school_code':['s001','s002','s003','s001','s002','s004'],
    'class':['v','V','VI','VI','V','VI'],
    'name':['alberto','franco','gino','ryano','david','siyano'],
    'age':[15,16,12,14,11,14],
    'weight':[35,23,41,23,25,30]},
    index = ['t1','t2','t3','t4','t5','t6'])
print("original DataFrame:")
print(df)
print("\nSet school code 's004'to 's005':")
df.at['t5','school_code']='s005'
print(df)
print("\nSet age of alterto to 15:")
df.at['t1','age']= '15'
print(df)

original DataFrame:
   school_code class     name  age  weight
t1        s001     v  alberto   15      35
t2        s002     V   franco   16      23
t3        s003    VI     gino   12      41
t4        s001    VI    ryano   14      23
t5        s002     V    david   11      25
t6        s004    VI   siyano   14      30

Set school code 's004'to 's005':
   school_code class     name  age  weight
t1        s001     v  alberto   15      35
t2        s002     V   franco   16      23
t3        s003    VI     gino   12      41
t4        s001    VI    ryano   14      23
t5        s005     V    david   11      25
t6        s004    VI   siyano   14      30

Set age of alterto to 15:
   school_code class     name  age  weight
t1        s001     v  alberto   15      35
t2        s002     V   franco   16      23
t3        s003    VI     gino   12      41
t4        s001    VI    ryano   14      23
t5        s005     V    david   11      25
t6        s004    VI   siyano   14      30